{% extends 'base.html' %}
{% block pagetitle %}
Grape Supplements Market
{% endblock pagetitle %}

{% block body %}
<div class="container">
  <h1 class="title">🍇 Grape Supplements & Fertilizers 🍇</h1>
  <p class="lead">Boost your grape vineyard health with our recommended supplements.</p>

  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card p-4">
        <h5>Premium Grape Fertilizer</h5>
        <img src="https://m.media-amazon.com/images/I/71sH6nKQ1jL._AC_SL1500_.jpg" width="250" height="250">
        <p>Ensure your grapevines get the best nutrients for a healthier yield.</p>
        <a target="_blank" href="https://www.amazon.in/Tata-Ralligold-Mycorrhizal-Biofertilizer-100/dp/B08TVZ7KDX">
          <button type="button" class="btn btn-danger">Buy Now</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
